body{
    background-color:whitesmoke;
}
button{
    background-color:cadetblue;
    color:white;
    font-weight:bold;
    border-radius:10px;
    margin:5px;
}
.container{

}
.gif{
    display:inline-block;
    margin-right:25px;
    margin-bottom:25px;
}
#gif-form{
    
}
#gif-form {
    font-weight:bold;
}
#add-gif{
    margin:10px;
    background-color:cadetblue;
    color:white;
    font-weight:bold;
    border-radius:10px;
}
body p {
    font-weight:bold;
}